@model Arac
@{
    ViewData["Title"] = Model.Marka.Adi + " " + Model.Modeli;
}

<div class="visitor-sv-tm-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="visitor-sv-tm-int">
                    <div class="visitor-sv-tm-ch">
                        <div id="visit-server-time" class="flot-chart" style="padding: 0px; position: relative;">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/Img/Cars/@Model.Resim1" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/Img/Cars/@Model.Resim2" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/Img/Cars/@Model.Resim3" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <h1>@ViewData["Title"]</h1>
                            <span>@Model.Fiyati ₺</span> <br />
                            <span>@Model.Renk</span> <br />
                            <span>@Model.ModelYili</span> <br />
                            <p>@Model.Notlar</p>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Bilgi Al
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Musteri" model="null" />