@model OtoServisSatis.Entities.Musteri

@{
    ViewData["Title"] = "Müşteri Sil";
}

<h2>Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TcNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Arac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Arac.KasaTipi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>
