@model OtoServisSatis.Entities.Kullanici

@{
    ViewData["Title"] = "Kullanıcı Sil";
}

<h2>Kullanıcı Sil</h2>

<h3>Kullanıcıyı silmek istedğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sifre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AktifMi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.Adi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-default" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
